<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>Esonero [2044279]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Figtree:wght@600&family=Geist+Mono:wght@100..900&family=Inter:opsz,wght@14..32,500&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="container">
    <h1 class="title"><a class="no-link" href="/">Movies API 📽️</a></h1>

    <div class="layout">
      <div class="controls">
        <section>
          <hgroup>
            <h4>/schema_summary</h4>
            <p class="small">Ottieni informazioni sulla struttura della base di dati</p>
          </hgroup>
          <form method="get" action="/schema_summary">
            <button type="submit">Schema</button>
          </form>
        </section>

        <section>
          <hgroup>
            <h4>/search</h4>
            <p class="small">Esegui una query</p>
          </hgroup>
          <form method="get" action="/search">
            <input class="monospace" type="text" name="question" placeholder="Quali registi hanno fatto più di un film?"
              required>
            <button type="submit">Cerca</button>
          </form>
        </section>

        <section>
          <hgroup>
            <h4>/add</h4>
            <p class="small">Inserisci un nuovo film nella base di dati</p>
          </hgroup>
          <form method="post" action="/add">
            <input class="monospace" type="text" name="data_line"
              placeholder="The Green Mile,Frank Darabont,65,1999,Drama,Netflix," required>
            <button type="submit">Aggiungi</button>
          </form>
        </section>
      </div>

      <div class="console">
        <hgroup>
          <h4>Output</h4>
          {% if status_code %}
          {% if status_code >= 200 and status_code < 300 %} <p class="small">Status code: {{ status_code }} ✅</p>
            {% else %}
            <p>Status code: {{ status_code }} ❌</p>
            {% endif %}
            {% else %}
            <p class="small">Stuff will appear here! 👇🏼</p>
            {% endif %}
        </hgroup>
        <textarea class="console-output" readonly>{% if results %}{{ results }}{% else %}...{% endif %}</textarea>
      </div>
    </div>
  </main>
  <footer class="container">
    <small>Built with ❤️ by <a href="https://github.com/cappee">Gabriele Cappellaro</a></small>
  </footer>
</body>

</html>